# Telegram bot
aiogram==3.4.1

# Data fetching & processing
yfinance
pandas
numpy
scipy

# Plotting & charting
matplotlib
mplfinance

# Scheduler & async tasks
apscheduler

# Environment variables
python-dotenv
